//BREAKPOINTS

/*


Son las medidas de anchura en donde se realizan saltos para el diseño responsive y se aplican los 
estilos CSS concretos para unas determinadas media queries. Es decir, los breakpoints son los saltos en los que la pantalla cambia de layout.



*/

$bp-sm:576px;
$bp-md:768px;
$bp-lg:992px;
$bp-xl:1200px;